/* Innstillinger for hovedinnholdet (main) */
main {
  padding: 100px 20px 10px 20px

  /* background-color: #324851;
  color: white; */

}

/* Innstillinger for tabeller */
main table {
  width: 100%;
  border-collapse: collapse;
}

main thead {
  border: 1px solid black;
  background-color: #34675c;
  color: #F0F8FF;
}

main tbody {
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
  border: 1px solid black;
}

main td, 
main tr, 
main th {
  border: 1px solid black;
  padding: 2px;
}

main tbody:hover {
    background-color: #7da3a1;
}

/* Hyperlenker */
main a:link    { color: #2200CC }  /* unvisited links */
main a:visited { color: #2200CC}  /* visited links   */
main a:hover   { color: #c00 }  /* user hovers     */
main a:active  { color: #004445 }  /* active links    */