/* Veiledning CSS: 
.Navnmenu = Påvirker alle items i navmenu
.Navnmenu a = a tag i Navnmenu 
.navmenu a:hover = påvirker det som skjer når hover over a tag
*/

/* Sikrer at innholdet i main (body) alltid er 300px (altså ikke under navigasjonen) Navigasjonen skjules hvis skjermstørrelsen er mindre enn 992 px*/
@media (min-width: 992px) {
  body {
    padding-left: 300px;
  }
}

/* Søkebokser med input type text*/
input[type=search] {
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 0px 12px 12px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
  width: 100%;
}

/* Navbar på toppen øverst */
.navbar {
  position: fixed;
  width: 100%;
  
  background-color: #021c1e;
  color: white;
  
  padding: 20px 0px 10px 20px;
  border-bottom: 5px solid #34675c;
}

/* Styling på navigasjonen  til venstre og høyre
Setter padding til venstre og på top
Hinder understreking i lenker <a>
Fjerner kulepunkter i lister <ul>*/
.navmenu {
  background-color: #324851;;
  padding: 20px 10px 10px 10px;
  color:white;
}

.navmenu a {
  text-decoration: none;
  color: white;
}

.navmenu a:hover {
  color: #DBCA69;
  cursor: pointer;
}

.navmenu ul {
  list-style-type: none;
  padding: 5px 0px 0px 0px;
}

.navmenu li {
  padding-left: 15px;
}

.active {
  color: #DBCA69;
}

/* Div for søketreffene */
#søke_treff a:hover {
  color: #DBCA69;
}

/* Skriftstørrelser i listen */
.navmenu h1 {
  font-size: 1.1em;
  font-weight: normal;
}

.navmenu h2, .navmenu h3, .navmenu h4, .navmenu h5, .navmenu h6 {
  font-size: 1em;
  font-weight: normal;
}

/* Styling på ordene som markeres */
.highlight { 
  background-color: #021c1e; 
}

/* Klasse som styrer synligheten for et item */
.synlig {
  display: block;
}

.usynlig {
  display: none;
}

/* Oveskriftene i navigasjonen */
#nav_innhold h1 {
  border-top:1.5px solid #2c7873;
  padding-top: 5px;
}