/* Collapsible viser stylingen når innholdet (content) i listen er skjult */
/* Visible viser stylingen på knappen når innholdet (content) vises */
.collapsible,
.collapsible_sub {
  background-color: #7da3a1;
  color: black;
  cursor: pointer;
  
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, 
.collapsible:hover, 
.collapsible_sub:hover {
  background-color: #34675c;
  color: white;
}

/* Legger til pluss etter teksten */
.collapsible:before, 
.collapsible_sub:before {
  content: '\02795'; /* Unicode character for "pluss" sign (+) */
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/* Visible - Sikrer at det er riktig farge og hover når content er synlig*/
.visible, 
.visible_sub {
  background-color: #7da3a1;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.visible:hover,
.visible_sub:hover {
  background-color: #34675c;
  color: white;
}

/* Legger til minus når content er synlig */
.visible:after,
.visible_sub:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/*Klassen content er teksten i nedtrekkslisten */
.content {
  display: none;
  background-color:#e2e9e9;
  color: black;

  padding-block-end: 10px;
  padding-block-start: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Popover */
.popover-header {
  background-color: #34675c;
  color: white;
}

.popover-body {
  background-color:#CCCCCC;
}