/* Collapsible - Denne brukes n책r innholdet er skjult */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #555;
}

/* Legger til tekst etter content */
.collapsible:after {
  content: '\02795'; /* Unicode character for "pluss" sign (+) */
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/* Visible - Denne brukes n책r innholdet er synlig */
.visible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

/* Legger til minus n책r content er synlig */
.visible:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/*Klassen content brukes i nedtrekkslistene */
.content {
  display: none;
  background-color:#CCCCCC;
}

/* Hyperlenker */
a:link    { color: #2200CC }  /* unvisited links */
a:visited { color: #2200CC}  /* visited links   */
a:hover   { color: #c00 }  /* user hovers     */
a:active  { color: #ccc }  /* active links    */

/* Popover style */
.popover-header {
    background-color: #777;
    color: white;
}
.popover-body {
    background-color:#CCCCCC;
}

/* Styling p책 navigasjonen */
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      font-size: 0.8em;
    }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 3em;
      margin-left: 50px;
    }

    #main {
      transition: margin-left .5s;
    }
