/* Collapsible - Denne brukes når innholdet er skjult */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #555;
}

/* Legger til tekst etter content */
.collapsible:after {
  content: '\02795'; /* Unicode character for "pluss" sign (+) */
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/* Visible - Denne brukes når innholdet er synlig */
.visible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

/* Legger til minus når content er synlig */
.visible:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/*Klassen content brukes i nedtrekkslistene */
.content {
  display: none;
  background-color:#CCCCCC;
}

/* Hyperlenker */
a:link    { color: #2200CC }  /* unvisited links */
a:visited { color: #2200CC}  /* visited links   */
a:hover   { color: #c00 }  /* user hovers     */
a:active  { color: #ccc }  /* active links    */

/* Popover style */
.popover-header {
    background-color: #777;
    color: white;
}
.popover-body {
    background-color:#CCCCCC;
}

/* Styling på navigasjonen */
.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 0.8em;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* Skjuler sidenav på små devices */
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}